.results-modal {
  background-color: #a4b3d3;
  margin-top: 200px;
  text-align: center;
  max-width: 600px; /* Define un ancho m치ximo para el modal */
  margin-left: auto; /* Centra horizontalmente el modal */
  margin-right: auto; /* Centra horizontalmente el modal */
  border: 5px solid black;
  border-radius: 10px;
  padding: 80px 10px;
}


.boton {
    padding: 10px 20px ;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;

  }

  
  .boton:hover {
    background-color: #0056b3;
  }

  .answers {
    width: 100%;
    text-align: center;
    
  }

  .semicircle {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 200px;
    background-color: #a4b6ca;
    border-top-left-radius: 100%; /* Hace que solo la esquina inferior derecha sea redondeada */
  }

  @media only screen and (max-width: 700px) {
    .results-modal {
      width: 90%; /* Cambia el ancho predeterminado para dispositivos m칩viles */
      font-size: 14px; /* Ajusta el tama침o de fuente para dispositivos m칩viles */
      background-color: rgb(198, 221, 255);
      margin-top: 175px; /* Ajusta la distancia desde la parte superior */
      margin-right: 150px;
      margin-left: -60px !important;
      left: 25%; 
    }
  }


  @media only screen and (max-width: 700px) {
    .boton {
      width: 50%; 
      font-size: 12px; 
      padding: 10px 25px;
      margin-top: 15px;
    }

    .modal-backdrop{
        margin-right: 80px;
    }
  
  }